body {
  font-family: Arial;
  background: #f0f2f5;
  margin: 0;
}

nav {
  background: white;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #0a4d8c;
}

.card {
  background: white;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #0a4d8c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #08345f;
}